<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <li> <a href ="/" >Home Button</a></li>
        <li> <a href ="/" >Some button </a></li>

        
    </nav>
    <h1> Hello world</h1>
</body>
</html>